page-post {

  .header-background{
    width: 100%;
    padding: 15% 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: top;
  }/** header-background */

  .header{
    background: transparent;
    &:after{ background: transparent; }

    .col-icon{
      padding-top: 5px;
      justify-content: center;
      align-items: center;
      display: flex;

      .icon-back-header{
        width: 100%;
        padding: 100% 0 0 0;
        position: relative;
        cursor: pointer;

        .ico-back-header{
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          fill: #fff;
        }/** ico-back-header */
      }/** icon-back-header */
    }/** col-icon */

    .content-search-input-header{
      width: 100%;
      position: relative;
      padding: 0 0 0 10px;

      .inpt-search-explore{
        width: 100%;
        position: relative;
        background: none;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 10px 40px 10px 15px;
        color: #fff;

        &::-moz-placeholder { color: #fff; }
        &::-webkit-input-placeholder { color: #fff; }

        &:focus{
          &::-moz-placeholder { color: rgba(255,255,255, 0.5); }
          &::-webkit-input-placeholder { color: rgba(255,255,255, 0.5); }
        }

      }/** inpt-search-explore */

      ion-icon{
        position: absolute;
        right: 6px;
        top: 1px;
        color: #fff;
        font-size: 2.5em;
        cursor: pointer;
      } /** ion-icon */

    }/** content-search-input-header */

  }/** header */

  .text-btn-publicar{
    color: #ffffff;
    padding: 3px;
    font-family: Multicolore;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .row{
    align-items: center;
    height: 100%;
  }
  .col{
    height: 100%;
    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -moz-text-align-last: center;
    align-self: center;
    align-content: center;
  }
  .icon-publicar-send{
    width: 20%;
    height: 20%;
    margin-right: 3px;
  }
  .btn-publicar {
    float: right;
    vertical-align: middle;
    line-height: normal;
    background-color: #ffbbb6;
    font-size: 0.7em;
    height: auto;
    padding: 7px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ff7791;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -moz-text-align-last: center;
    align-self: center;
    align-content: center;
  }
  .btn-wrapper {
    width: auto;
  }
  .text-footer-post{
    color: #b4c1d6;
    font-family: Roboto;
  }
  .col-footer-post{
    float: right;
    width: 60%;
    height: auto;
    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -moz-text-align-last: center;
    align-self: center;
    align-content: center;
  }
  .foo{
    height: 50px !important;
  }
  }
