page-step2 {

  @import '../../../../../config/styles/theme-prototype-variables';
  @import '../cadastro-theme';

  .scroll-content {
    margin-top: 50px;

    .grid-complete-cnpj{
      padding: 0;
      transition: 0.5s;
      animation: fadeInUp 0.5s ease;
    }/** grid-complete-cnpj */

  }
  /** scroll-content */

}

.img-captcha{
  width: 206px;
  height: 85px;
  text-align: center;
  border-radius: 8px;
  margin-left: 18%;
  margin-top: 6%;
};

@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(10px);
  }


};

.login-btn {
  padding: 15px 50px;
  border-radius: $border-rd-xl;
 // margin: 20px 0 0 0;
  margin: 7% 0% 0% 25%;
  background: $color-pink;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  //margin-left: 26%;
  //margin-top: 6%;
}
/** login-btn */

/** form-cont */




