@import "../../config/styles/theme-prototype-variables";

fixed-menu {

    .foot-menu{
      width: 100%;
      background: #fff;
      border-radius: 10px 10px 0 0;
      border-top: 1px solid $grey-color;
      padding: 0;
      .row{ padding: 0 10px; }
      .grid, .col{ padding: 0; }/** grid */

      .icon-menu-cont{
        width: 100%;
        display: flex;
        padding: 13px 3px;
        align-items: center;
        justify-content: center;

        .icon-menu{
          width: 33%;
          padding: 33% 0 0 0;
          display: table;
          position: relative;
          cursor: pointer;
          .ico-menu{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            fill: $grey-color;

            &.current-page{
              //fill: linear-gradient(135deg, rgba(255,163,121,1) 18%,rgba(255,75,173,1) 100%);
              fill: #FF4BAD;
            }/** current-page */

          }/** ico-menu */
        }/** icon-menu */
      }/** icon-menu-cont */

    }/** foot-menu */


}
