<ion-menu side="right" swipeEnabled="false" [content]="footer" >
  <ion-content>

    <ion-list>
      <ion-item>Perfil</ion-item>
      <ion-item>Carrinho</ion-item>
    </ion-list>

  </ion-content>
</ion-menu>


<ion-footer #footer>
  
  <div class="foot-menu" >
    <!-- Grid com os icones do menu -->
    <ion-grid>
      <!-- Linha com as colunas com os icones -->
      <ion-row>
        <!-- Colunas com os icones -->
        <ion-col>

          <div class="icon-menu-cont">
            <div class="icon-menu" >

              <svg class="ico-menu" [ngClass]="{ 'current-page': page == 'home' }">
                 <use [attr.xlink:href]=" constants.src_svg + 'menu-inferior/home.svg#Layer_1'"></use>
              </svg> <!-- ico-menu -->

            </div> <!-- icon-menu -->
          </div> <!-- icon-menu -->

        </ion-col>
        <ion-col>

          <div class="icon-menu-cont" >
            <div class="icon-menu" >

              <svg class="ico-menu" [ngClass]="{ 'current-page': page == 'explore' }">
                <use [attr.xlink:href]=" constants.src_svg + 'menu-inferior/search.svg#Layer_1'"></use>
              </svg> <!-- ico-menu -->

            </div> <!-- icon-menu -->
          </div> <!-- icon-menu -->

        </ion-col>
        <ion-col>

          <div class="icon-menu-cont" >
            <div class="icon-menu" >

              <svg class="ico-menu" [ngClass]="{ 'current-page': page == 'products' }">
                <use [attr.xlink:href]=" constants.src_svg + 'menu-inferior/bag.svg#Layer_1'"></use>
              </svg> <!-- ico-menu -->

            </div> <!-- icon-menu -->
          </div> <!-- icon-menu -->

        </ion-col>
        <ion-col>

          <div class="icon-menu-cont" >
            <div class="icon-menu" >

              <svg class="ico-menu">
                <use [attr.xlink:href]=" constants.src_svg + 'menu-inferior/notification.svg#Layer_1'"></use>
              </svg> <!-- ico-menu -->

            </div> <!-- icon-menu -->
          </div> <!-- icon-menu -->

        </ion-col>
        <ion-col>

          <div class="icon-menu-cont" menuToggle="right" >
            <div class="icon-menu" >

              <svg class="ico-menu">
                <use [attr.xlink:href]=" constants.src_svg + 'menu-inferior/menu.svg#Layer_1'"></use>
              </svg> <!-- ico-menu -->

            </div> <!-- icon-menu -->
          </div> <!-- icon-menu -->

        </ion-col>
        <!-- Fim da linha  -->
      </ion-row>
      <!-- Fim do grid -->
    </ion-grid>
  
  </div> <!-- foot-menu -->

</ion-footer>