page-explore {

  .background-explore{
    width: 100%;
    padding: 100% 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }/** background-explore */

  .explore-search{
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: 1px solid #fff;
    background: none;
    border-radius: $border-rd-xl;
    color: #fff;
    &::-webkit-input-placeholder{
      color: rgba(255,255,255,1);
      transition: 0.5s;
    }/** ::-webkit-input-placeholder */
    &:focus{
      &::-webkit-input-placeholder{
        color: rgba(255,255,255,0.5);
      }/** ::-webkit-input-placeholder */
    }/** focus */
  }/** explore-search */

  .explore-back{
    height: 39px;
    width: 25px;
    position: relative;
    .ico-explore-back{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      fill: #fff;
    }/** ico-explore-back */
  }/** explore-back */

  .explore-search-close{
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2em;
    cursor: pointer;
  }/** explore-search-close */


  .grid-title{
    width: 100%;
    float: left;
    font-weight: bold;
    font-family: Multicolore;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 0 0 10px;
  }/** grid-title */

  .grid-estilos{
    margin: 10px 0 0 0;

    .style-plus-button{
      padding: 5px 20px;
      border: 2px solid #fff;
      border-radius: $border-rd-xl;
      background: transparent;
      color: #fff;
      font-size: 1.3em;
    }/** style-plus-button */
    .viewbox-styles{
      width: 100%;
      height: 100%;
      position: absolute;
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar{ display: none; }

      ul.list-styles{
        width: auto;
        position: relative;
        list-style: none;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        li.style-item{
          padding: 7px 20px 6px 20px;
          font-size: 1.1em;
          display: inline-table;
          margin: 0 3px 0 0;
          color: #fff;
          border-radius: $border-rd-xl;

          &.pink{ background: #d72f6c; }
          &.purple{ background: #b334d1; }
          &.brown{ background: #66313a; }

        }/** style-item */
      }/** list-styles */

    }/** viewbox-styles */
    .filter-styles{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px solid #fff;
      margin: -4px 0 0 20px;
      position: relative;
      cursor: pointer;
      .ico-filter-styles{
        width: 50%;
        height: 50%;
        position: absolute;
        left: 25%;
        top: 25%;
        fill: #fff;
      }/** ico-filter-styles */
    }/** filter-styles */
  }/** grid-estilos */

  .viewport-destaques{
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar{ display: none; }

    ul.viewport-list{
      width: 100%;
      position: relative;
      list-style: none;
      margin: 0;
      white-space: nowrap;
      padding: 0 0 40px 0;

      li.destaque-item{
        background: #fff;
        min-width: 280px;
        display: inline-table;
        border-radius: $border-rd-md;
        box-shadow: 0 0 10px 0px $color-grey;
        margin: 0 25px 0 0;
        .destaque-header{
          display: flex;
          position: relative;
          padding: 10px;

          .destaque-header-img{
            display: flex;
            width: 60px;
            position: relative;
            .img-destaque{
              width: 100%;
              padding: 100% 0 0 0;
              border: 2px solid $color-grey;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #fff;
              background-size: cover;
              background-position: center;
              border-radius: $border-rd-sm;
            }/** img-destaque */
          }/** destaque-header-img */
          .destaque-header-infos{
            display: flex;
            flex-grow: 1;
            .destaque-infos-cont{
              display: flex;
              flex-flow: column;
              position: relative;
              flex-grow: 1;

              .destaque-info{
                display: flex;
                flex-grow: 1;
                position: relative;

                .destaque-info-label{
                  width: 100%;
                  position: absolute;
                  left: 0;
                  top: 0;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  text-transform: uppercase;
                  &.title{
                    bottom: 0;
                    font-weight: bold;
                    padding: 4px 0 0 6px;
                    font-size: 1.1em;
                  }/** title */
                  &.description{
                    top: 0;
                    padding: 2px 0 0 6px;
                    font-size: 0.9em;
                  }/** description */

                }/** destaque-info-label */
              }/** destaque-info */

            }/** destaque-infos-cont */
          }/** destaque-header-infos */
          .destaque-header-actions{
            display: flex;
            width: auto;
            .destaque-header-action{
              background: #66bdd9;
              text-transform: uppercase;
              color: #fff;
              font-size: 0.8em;
              height: auto;
              padding: 10px;
              font-weight: normal;
              box-shadow: none;
              border-radius: $border-rd-sm;

            }/** destaque-header-action */
          }/** destaque-header-actions */

        }/** destaque-header */

        .destaque-body{
          width: 100%;
          height: 160px;
          background-color: $color-grey;
          background-size: cover;
          background-position: center;
          margin: 0 0 -40px 0;
        }/** destaque-body */

        .destaque-footer{
          width: 100%;
          padding: 10px;
          ul.destaque-footer-list{
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            li.destaque-footer-item{
              width: 30%;
              padding: 25% 0 0 0;
              margin: 0 10px;
              border: 2px solid #fff;
              border-radius: $border-rd-md;
              background-color: $color-grey;
              background-position: center;
              background-repeat: no-repeat;
            }/** li.destaque-footer-item */
          }/** ul.destaque-footer-list */
        }/** destaque-footer */

      }/** destaque-item */
    }/** ul.viewport-list */
  }/** viewport-destaques */

}/** page-explore */
