<ion-content>
    <div class="background-explore" [ngStyle]="{'background-image': 'url(' + constants.src_img + 'backgrounds/explore-background.png)'}"></div> <!-- background-explore -->

    <ion-grid>
        <ion-row>
            <ion-col col-auto class="pointer">

                <div class="explore-back" >
                    <svg class="ico-explore-back">
                       <use [attr.xlink:href]="constants.src_svg + 'back.svg#Layer_1'"></use>
                    </svg> <!-- ico-explore-back -->
                </div> <!-- explore-back -->

            </ion-col>
            <ion-col class="relative">

                <input type="search" class="explore-search" placeholder="Buscar">
                <ion-icon name="md-close-circle" class="explore-search-close" ></ion-icon>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="grid-estilos">
        <ion-row>
            <ion-col>

                <span class="grid-title">
                    Seus Estilos
                </span> <!-- grid-title -->

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-auto>
                <button class="style-plus-button" (click)="settingsStyles()"> + </button>
            </ion-col>
            <ion-col class="relative">
                <div class="viewbox-styles" >
                    <ul class="list-styles">
                        <li class="style-item pink">
                            Femininos
                            <span class="times-style"></span><!-- times-style -->
                        </li><!-- style-item -->
                        <li class="style-item purple">
                            Jaquetas
                            <span class="times-style"></span><!-- times-style -->
                        </li><!-- style-item -->
                        <li class="style-item brown">
                            Saias
                            <span class="times-style"></span><!-- times-style -->
                        </li><!-- style-item --> <li class="style-item brown">
                            Saias
                            <span class="times-style"></span><!-- times-style -->
                        </li><!-- style-item -->
                    </ul><!-- list-styles -->
                </div> <!-- viewbox-styles -->
            </ion-col>
            <ion-col col-auto (click)="doLogout()">
                
                <div class="filter-styles" >
                    <svg class="ico-filter-styles">
                       <use [attr.xlink:href]="constants.src_svg + 'settings.svg#Layer_1'"></use>
                    </svg> <!-- ico-filter-styles -->
                </div> <!-- filter-styles -->
                
            </ion-col>
        </ion-row>
    </ion-grid><!-- grid-estilos -->

    <ion-grid class="grid-destaques">

        <ion-row>
            <ion-col class="col-title">
                <span class="grid-title">
                    Destaques
                </span> <!-- grid-title -->
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="viewport-destaques" >
                    <ul class="viewport-list">
                        <li class="destaque-item" *ngFor="let destaque of destaques">
                            <div class="destaque-header" >

                                <div class="destaque-header-img">
                                    <div class="img-destaque" [ngStyle]="{ 'background-image': 'url(' + constants.src_img + 'exemples/' + destaque.company_logo + ')'}" ></div> <!-- img-destaque -->
                                </div> <!-- destaque-header-img -->

                                <div class="destaque-header-infos">
                                    <div class="destaque-infos-cont" >
                                        
                                        <div class="destaque-info" >
                                            <span class="destaque-info-label title" >
                                                {{ destaque.company_name }}
                                            </span> <!-- destaque-info-label -->
                                        </div> <!-- destaque-info -->
                                        <div class="destaque-info" >
                                            <span class="destaque-info-label description" >
                                                {{ destaque.company_type }}
                                            </span> <!-- destaque-info-label -->
                                        </div> <!-- destaque-info -->

                                    </div> <!-- destaque-infos-cont -->
                                </div> <!-- destaque-header-img -->

                                <div class="destaque-header-actions">
                                    <button ion-button class="destaque-header-action"> Conectar </button>
                                </div> <!-- destaque-header-img -->

                            </div> <!-- destaque-header -->

                            <div class="destaque-body" [ngStyle]="{ 'background-image': 'url(' + constants.src_img + 'exemples/' + destaque.destaque_wallpaper + ')'}" ></div> <!-- destaque-body -->

                            <div class="destaque-footer" >
                                <ul class="destaque-footer-list">
                                    <li class="destaque-footer-item" [ngStyle]="{ 'background-image': 'url(' + constants.src_img + 'exemples/' + produto.product_image + ')'}"  *ngFor="let produto of destaque.destaque_products"></li><!-- destaque-footer-item -->
                                </ul><!-- destaque-footer-list -->
                            </div> <!-- destaque-footer -->

                        </li><!-- destaque-item -->
                    </ul> <!-- viewport-list -->
                </div> <!-- viewport-destaques -->
            </ion-col>
        </ion-row>
    </ion-grid><!-- grid-destaques -->

    <ion-grid class="grid-explore-middle">
        <ion-row *ngFor="let feed of feedExplore">
            <ion-col>
                <ul class="list-explore-middle" [ngClass]="feed.direction">

                    <li class="explore-middle-item" *ngFor="let produtos of feed.products">
                        <div class="explore-item-cont" >
                            <div class="explore-item" [ngStyle]="{'background-image': 'url(' + constants.src_img + 'exemples/' + produtos.product_image + ')'}">
                                <div class="explore-item-logo" [ngStyle]="{'background-image': 'url(' + constants.src_img + 'exemples/' + produtos.product_logo + ')'}"  ></div> <!-- explore-item-logo -->
                            </div> <!-- explore-item -->
                        </div> <!-- explore-item-cont -->
                    </li><!-- explore-middle-item -->

                </ul><!-- list-explore-middle -->
            </ion-col>
        </ion-row>
    </ion-grid><!-- grid-explore-middle -->

    <ion-grid class="grid-follow-recommended">
        <ion-row>
            <ion-col>
                <span class="grid-title grey">
                    Sugestões para se conectar
                </span> <!-- grid-title -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="viewport-suggestions" >
                    <ul class="viewport-suggestions-list">
                        <li class="suggestions-item" *ngFor=" let suggestion of suggestions ">
                            <div class="suggestion-image" [ngStyle]="{'background-image': 'url(' + constants.src_img +'exemples/' + suggestion.company_logo + ')'}" ></div> <!-- suggestion-image -->
                            <div class="seggestion-actions" >
                                <div class="suggestion-action" >
                                    <span class="suggestion-label title">
                                        {{suggestion.company_name}}
                                    </span><!-- suggestion-label -->
                                </div> <!-- suggestion-action -->
                                <div class="suggestion-action description-action" >
                                    <span class="suggestion-label description">
                                        {{suggestion.company_type}}
                                    </span><!-- suggestion-label -->
                                </div> <!-- suggestion-action -->
                                <div class="suggestion-action" >
                                    <button ion-button class="suggestion-button"> Conectar </button>
                                </div> <!-- suggestion-action -->
                            </div> <!-- seggestion-actions -->

                        </li><!-- suggestions-item -->
                    </ul><!-- viewport-suggestions-list -->
                </div> <!-- viewport-suggestions -->
            </ion-col>
        </ion-row>
    </ion-grid><!-- grid-follow-recommended -->

</ion-content>