page-conexoes {

  ion-row {
    text-align: center;
  }
  .grid-menu-header {
    height: 10%;
  }
  .content-header-menu {

    .col{
      padding: 0px;
      height: auto;
      border-bottom: 1px solid $color-grey;
    }
    .col-selected-border{
      border-bottom: 2px solid $color-pink;

    }
    .col-header-menu {
      padding: 6% 4%;
      color: $color-grey;
      float: left;
      font-family: Multicolore;

    }
    .col-selected {

      background-image: -webkit-linear-gradient(left, #ff57a3, #ff9b7e); /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff57a3, #ff9b7e); /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff57a3, #ff9b7e); /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff57a3, #ff9b7e); /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(to right, #ff57a3, #ff9b7e); /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    .wrapper {
      width: 22%;
      float: left;
      padding: 5% 3%;

    }
    .svg-search-ico-usertype {

      width: 100%;
      height: 20px;
      fill: $color-grey;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
    .svg-selected{
      fill: $color-pink;
    }

  }

  .content-submenu-header {
    height: 10%;

    .row{
      height: 100%;
    }
    .col-submenu{
      padding: 1% 0% !important;
    }
    .content-ativiades {
      text-align: center;
      float: right;
      color: $color-grey;
      height: 100%;
      width: 80%;
      border: 1px solid $color-grey;
      border-radius: 5px 0 0 5px;
      line-height: 250%;
    }
    .content-conexoes {
      text-align: center;
      float: left;
      color: $color-grey;
      height: 100%;
      width: 80%;
      border-radius: 0 5px 5px 0;
      line-height: 250%;
    }
    .submenu-selected {
      background-color: $color-pink;
      color: white;
    }

  }

  .content-novas{
    width: 100%;
    height: 9%;
    background-color: #f0f3f7;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    .text-novas{
      color: $color-grey-dark;
      padding: 4.8% 7%;
    }
  }


  .content-notification{

    height: auto;
    width: 100%;
    .image-notification{
      height: 100%;
      width: 12%;
      border-radius: 50%;
      float: left;

    }
    .content-icon {
      width: 100%;
      height: 100%;
    }
    .content-icon-user {
      padding: 15% 0 0 0;
      width: 15%;
      float: left;
      margin-top: 5%;
      position: absolute;
    }
    .img-user-post {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .img-user-icon{
      width: 100%;
      height: 100%;
      background-color: $color-grey;
      border-radius: 100%;
    }


    .text-content-notification{
      width: 100%;
      height: 100%;

      .text-notification{
        line-break: auto;
        word-break:normal;
        white-space: normal !important;
        font-size: 0.8em;
        padding-left: 22%;
      }

    }
    .text-solicitacao{
      padding-top: 3% !important;
      color: #767e8a;
    }
    .text-time{
      padding: 0% 0px 0% 18%;
      font-size: 0.7em;
      color: $color-grey;
      float: right;
    }
    .text-nome-notification{
      font-size: 1.7rem !important;
    }
    .btn-content-conect{
      padding: 5% 0% 2% 21.5%;

      .btn-confirmar{
        background-color: #66bdd9;
        font-size: 1rem;
        padding: 4%;
        box-shadow: unset;

      }
      .btn-recusar{
        padding: 4%;
        height: 25px;
        font-size: 1rem;
        border-color: #b4c1d6;
        color: #b4c1d6;
        background-color: transparent;

      }
    }
  }
}
