page-localizacao {

  .header-background {
    width: 100%;
    padding: 14% 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: top;

    background: #ff57a3;
    background: -webkit-linear-gradient(left, #ff57a3, #ff9b7e);
    background: -o-linear-gradient(right, #ff57a3, #ff9b7e);
    background: -moz-linear-gradient(right, #ff57a3, #ff9b7e);
    background: linear-gradient(to right, #ff57a3, #ff9b7e);
  }
  /** header-background */

  .header {
    background: transparent;
    &:after {
      background: transparent;
    }

    .col-icon {
      padding-top: 5px;
      justify-content: center;
      align-items: center;
      display: flex;

      .icon-back-header {
        width: 100%;
        padding: 100% 0 0 0;
        position: relative;
        cursor: pointer;

        .ico-back-header {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          fill: #fff;
        }
        /** ico-back-header */
      }
      /** icon-back-header */
    }
    /** col-icon */

    .content-search-input-header {
      width: 100%;
      position: relative;
      padding: 0 0 0 10px;

      .inpt-search-explore {
        width: 100%;
        position: relative;
        background: none;
        border: 1px solid #fff;
        border-radius: $border-rd-xl;
        padding: 10px 40px 10px 15px;
        color: #fff;

        &::-moz-placeholder {
          color: #fff;
        }
        &::-webkit-input-placeholder {
          color: #fff;
        }

        &:focus {
          &::-moz-placeholder {
            color: rgba(255, 255, 255, 0.5);
          }
          &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.5);
          }
        }

      }
      /** inpt-search-explore */

      ion-icon {
        position: absolute;
        right: 6px;
        top: 1px;
        color: #fff;
        font-size: 2.5em;
        cursor: pointer;
      }
      /** ion-icon */

    }
    /** content-search-input-header */

  }
  /** header */

  .text-btn-publicar {
    color: #ffffff;
    padding: 3px;
    font-family: Multicolore;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .row {
    align-items: center;
    height: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .icon-publicar-send {
    margin-right: 3px;
    .svg-send-header {
      fill: #ff7791;
      width: 100%;
      height: 17px;
    }
  }
  .btn-publicar {
    float: right;
    vertical-align: middle;
    line-height: normal;
    background-color: #ffbbb6;
    font-size: 0.7em;
    height: auto;
    padding: 7px 10px;
    border-radius: $border-rd-sm;
    text-transform: uppercase;
    color: #ff7791;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

  }
  .btn-wrapper {
    width: auto;
  }
  .text-footer-post {
    color: #b4c1d6;
    font-family: Roboto;
    text-align: center;

    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -moz-text-align-last: center;
    align-self: center;
    align-content: center;
  }
  .col-footer-post {
    float: right;
    width: 100%;
    height: auto;
    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -moz-text-align-last: center;
    align-self: center;
    align-content: center;
  }
  .foo {
    height: 50px !important;
  }

  .icon-footer {
    height: auto;
    width: auto;
    .svg-footer {
      fill: #b4c1d6;
      height: 22px;
      width: 40px;
    }
  }
  .head-icon-right {
    margin-left: 25%;
  }

  .content-post {
    width: 100%;
    height: 100%;
    .content-input {
      border-bottom: 1px solid #DDD;
      width: 100%;
      height: 100%;
    }

    .content-info-post {
      height: 8%;

      .content-icon {
        width: 100%;
        height: 100%;
      }
      .content-icon-user {
        height: 100%;
        width: 90%;
        float: right;
      }
      .img-user-post {
        width: 83%;
        border-radius: $border-rd-sm;
        border: 2px solid #cccccc;
        background: red;
        height: 75%;
        float: right;
        margin-top: 15%;

      }
      .text-nome-fantasia {
        width: 100%;
        float: left;
        height: 30%;
      }
      .content-btn-loc {
        height: auto;
        float: left;
        width: 60%;
      }

      .text-btn-estilo {
        font-family: Multicolore;
      }
      .btn-estilo {
        border-radius: $border-rd-sm !important;
        color: $color-grey !important;
        border: 2px solid $color-grey !important;
        height: 2.6rem !important;
        width: 10.6rem !important;
        font-size: 1.0rem;

      }

      .content-data-user {
        float: left;
        padding-left: 6%;
        width: 100%;
        height: 100%;
      }
      .empty-content {
        height: 15%;
        width: 100%;
      }

    }
    .col-user {
      padding: 0px !important;
      height: 100%;
    }
    .row-user {
      border-bottom: solid $color-grey 1px;
      width: 100%;
      position: fixed !important;
    }
    .row-user-2 {
      border-bottom: solid $color-grey 1px;
      width: 100%;
    }
    .input-search-maps {
      border: 0px;
      padding: 5px;
      width: 100%;
    }
    ::placeholder { /* Most modern browsers support this now. */
      color:    $color-grey;
    }
    .grid {
      padding: 0px 3px !important;
    }
  }
  .col-header-grid {
    width: 46%;
  }
  .grid-content {
    padding-top: 1%;
  }
  .item-md {
    padding-left: 0px;
  }
  .col-footer {
    height: 100%;
    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -moz-text-align-last: center;
    align-self: center;
    align-content: center;
  }
  .empty-content-header {
    height: 9%;
    width: 100%;
  }
  .input-text-post {
    height: 100%;
    font-size: 1.5em;
  }
  .content-data-post {
    height: 100%;
  }
  .btn-location-default {
    background-color: $color-grey;
  }
  .label-md {
    margin: 0px;
  }
  .row-loc-default {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: hidden;
  }
  .row-loc-default::-webkit-scrollbar {
    display: none;
  }

  .content-location-post {
    .lojas-cad {
      padding-top: 4%;
      padding-left: 5%;
    }

    .content-all-location-post {

      .wrapper {
        width: 5%;
        float: left;
        margin: 1px 15px;
      }

      .content-info-location-post {
        width: 60%;
        float: left;
      }

      .title-location-post {
        font-size: 1em;
        font-family: Roboto;
      }
      .description-location-post {
        color: $color-grey;
        font-size: 0.8em;
        padding-top: 2%;
      }
      .title-search-post {
        padding-left: 15%;
      }
      .second-content-all-location {
        width: 100%;
        height: 100%;
        padding-top: 5%;

      }
    }
  }
  .svg-search-ico-usertype {
    width: 100%;
    height: 30px;
    fill: #b4c1d6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .svg-ico-usertype {
    width: 80%;
    height: 30px;
    fill: #b4c1d6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .list-md {
    margin: 0px;
  }

  .item-md.item-block .item-inner {
    border: 0px !important;
  }
}
