// http://ionicframework.com/docs/theming/


@font-face {
  font-family: Multicolore;
  src: url('../assets/themes/prototype/fonts/Multicolore.otf');
}

@font-face {
  font-family: OpenSansBold;
  src: url('../assets/themes/prototype/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('../assets/themes/prototype/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('../assets/themes/prototype/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../assets/themes/prototype/fonts/Roboto-Regular.ttf');
}