// http://ionicframework.com/docs/theming/
@import '../config/styles/theme-prototype-variables';

@font-face {
  font-family: Multicolore;
  src: url('../assets/themes/prototype/fonts/Multicolore.otf');
}

@font-face {
  font-family: OpenSansBold;
  src: url('../assets/themes/prototype/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('../assets/themes/prototype/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('../assets/themes/prototype/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../assets/themes/prototype/fonts/Roboto-Regular.ttf');
}

.no-padding{ padding: 0 !important; }
.no-margin{ margin: 0 !important; }


.footer{
  background: transparent;
  &:before{
    background: transparent;
  }
}
.header{
  background: transparent;
  &:after{
    background: transparent;
  }
}


/** Separação para estilos relacionados ao formulário de cadastro */
.cad-form-content {
  width: 100%;
  position: relative;
  display: flex;
  .cad-form-label {
    width: 100%;
    display: flex;
    flex-flow: column;

    &.icon-right {
      position: relative;
      .cad-form-ctrl {
        padding: 13px 40px 13px 15px;
      }
      /** cad-form-ctrl */

      &.checked-icon {
        ion-icon {
          &:before {
            color: #21b94e;
          }
          /** before */
        }
        /** ion-icon */
      }
      /** checked-icon */

      /** cad-form-ctrl */
      ion-icon {
        position: absolute;
        right: 10px;
        top: 29px;

        &:before {
          transition: 0.5s;
          font-size: 1.9em;
          color: $grey-color;
        }
        /** before */
      }
      /** ion-icon */
    }
    /** icon-right */

    .cad-form-label-txt {
      width: 100%;
      display: flex;
      padding: 0 0 3px 16px;
      color: $grey-color;
      font-family: Roboto;

    }
    /** cad-form-label-txt */
    .cad-form-ctrl {
      width: 100%;
      border: 2px solid $grey-color;
      border-radius: 30px;
      color: $grey-color - #222;
      padding: 13px 15px;

      &.text-center{ text-align: center; }

      &[readonly] {
        background: #e8e8e8;
        opacity: 0.7;
        cursor: not-allowed;
      }
      /** readonly */

      &::-moz-placeholder { color: $grey-color; }
      &::-webkit-input-placeholder { color: $grey-color; }
      &:focus{
        &::-moz-placeholder { color: $grey-color + #222; }
        &::-webkit-input-placeholder { color: $grey-color + #222; }
      }

    }
    /** cad-form-ctrl */
  }
  /** cad-form-label */
}

/** cad-form-content */


/** Criação de ICONES customizados para o footer dos Tabs */
.ion-ios-QrHome-outline,
.ion-ios-QrHome,.ion-md-QrHome,.ion-md-QrHome-outline {
  content: url('../assets/themes/prototype/img/svg/menu-inferior/home.svg');
  width: 40%;
  &[ng-reflect-is-active="true"]{
    content: url('../assets/themes/prototype/img/svg/menu-inferior/home-fill.svg');
    transform: none !important;
  }
}

.ion-ios-QrExplore-outline,
.ion-ios-QrExplore,.ion-md-QrExplore,.ion-md-QrExplore-outline {
  content: url('../assets/themes/prototype/img/svg/menu-inferior/search.svg');
  width: 40%;
  &[ng-reflect-is-active="true"]{
    content: url('../assets/themes/prototype/img/svg/menu-inferior/search-fill.svg');
    transform: none !important;
  }
}

.ion-ios-QrBag-outline,
.ion-ios-QrBag,.ion-md-QrBag,.ion-md-QrBag-outline {
  content: url('../assets/themes/prototype/img/svg/menu-inferior/bag.svg');
  width: 40%;
  &[ng-reflect-is-active="true"]{
    content: url('../assets/themes/prototype/img/svg/menu-inferior/bag-fill.svg');
    transform: none !important;
  }
}

.ion-ios-QrNotification-outline,
.ion-ios-QrNotification,.ion-md-QrNotification,.ion-md-QrNotification-outline {
  content: url('../assets/themes/prototype/img/svg/menu-inferior/notification.svg');
  width: 40%;
  &[ng-reflect-is-active="true"]{
    content: url('../assets/themes/prototype/img/svg/menu-inferior/notification-fill.svg');
    transform: none !important;
  }
}

.ion-ios-QrMore-outline,
.ion-ios-QrMore,.ion-md-QrMore,.ion-md-QrMore-outline {
  content: url('../assets/themes/prototype/img/svg/menu-inferior/menu.svg');
  width: 40%;
  &[ng-reflect-is-active="true"]{
    content: url('../assets/themes/prototype/img/svg/menu-inferior/menu-fill.svg');
    transform: none !important;
  }
}
/** Fim da criação dos icones das tabs do app */