<!--
  Generated template for the GostosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content>

    <div class="content-card-estilo">
        <ion-card class="card-boy-estilo">
            <div class="icon-user-type">
                <img class="icon-card-estilo" [src]="constants.src_img + 'png/boy.png'" >
            </div> <!-- icon-user-type -->
            <div class="text-icon">Qual é seu estilo?</div>
        </ion-card>
    </div>

    <ion-grid style="padding-top: 12px;">

        <ion-row class="row-estilo" *ngFor="let num of colNum" center>
            <div *ngFor="let num2 of colNum">
                <div *ngIf="grid[num]">
                    <div *ngFor="let data of grid[num][num2]">
                        <ion-col col-auto>
                            <span  class="btn-estilo"
                                    [ngClass]="{ 'actived-type': actived.indexOf(data.id) > -1 && actived1.indexOf(data.id) > -1, 'actived-type2': actived.indexOf(data.id) > -1  && actived2.indexOf(data.id) > -1,'actived-type3': actived.indexOf(data.id) > -1  && actived3.indexOf(data.id) > -1,'actived-type4': actived.indexOf(data.id) > -1  && actived4.indexOf(data.id) > -1}"
                                    (click)="defineActived(data.id)" >
                                <div class="text-btn-estilo">{{data.nome}}</div>
                                <div [ngClass]="{'btn-none': actived.indexOf(data.id) < 0}" class="btn-confir">
                                    <svg class="svg-ico-usertype">
                                        <use [attr.xlink:href]="constants.src_svg + 'confirmar.svg#Layer_1'"></use>
                                    </svg> <!-- svg-ico-usertype --> </div>
                            </span>
                        </ion-col>
                    </div>
                </div>
            </div>
            <div *ngFor="let num2 of colNum">
                <div *ngIf="grid[num]">
                    <div *ngFor="let data of grid[num][num2]">
                        <div [hidden]="actived.indexOf(data.id) < 0" *ngIf="subEstilo[0][data.id]">
                            <ion-row class="row-estilo sliderIn" center>
                                <div>
                                    <ion-col col-auto *ngFor="let subData of subEstilo[0][data.id]">
                                        <span class="btn-estilo"
                                                [ngClass]="{ 'actived-type': actived.indexOf(subData.idEstilo) > -1 && actived1.indexOf(subData.idEstilo) > -1, 'actived-type2': actived.indexOf(subData.idEstilo) > -1  && actived2.indexOf(subData.idEstilo) > -1,'actived-type3': actived.indexOf(subData.idEstilo) > -1  && actived3.indexOf(subData.idEstilo) > -1,'actived-type4': actived.indexOf(subData.idEstilo) > -1  && actived4.indexOf(subData.idEstilo) > -1}"
                                                (click)="defineActived(subData.id)">
                                            <div class="text-btn-estilo">{{subData.nome}}</div>
                                            <div [ngClass]="{'btn-none': actived.indexOf(subData.id) < 0}"
                                                 class="btn-confir">
                                                <svg class="svg-ico-usertype">
                                                    <use [attr.xlink:href]="constants.src_svg + 'confirmar.svg#Layer_1'"></use>
                                                </svg> <!-- svg-ico-usertype -->
                                            </div>
                                        </span>
                                    </ion-col>
                                </div>
                            </ion-row>
                        </div>
                    </div>
                </div>
            </div>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer>
    <div class="footer-steps">

        <div class="next-step-action" [ngClass]="{'allowed': actived.length > 0}" (click)="closeMeModal()">
            <span class="next-step-label">
                Próximo
            </span> <!-- next-stap-label -->
            <div class="nextstep-icon">
                <span class="caret-body"></span>
                <span class="caret-direction"></span>
            </div> <!-- nextstep-icon -->
        </div> <!-- next-stap-action -->

    </div> <!-- footer-steps -->
</ion-footer>

