page-gostos {

  .content-card-estilo {
    margin-top: 40px;
    margin-left: 25%;
  }
  .card-boy-estilo {
    width: 60% !important;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 6px #edeff3;
    height: 200px;
  }

  .icon-card-estilo {
    fill: $grey-color;
  }
  .btn-confir {
    float: right;
    margin-left: 5px;
    margin-top: 1px;
  }
  .svg-ico-usertype {
    width: 13px;
    height: 14px;
    fill: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  /** svg-ico */
  .icon-user-type {
    height: 51%;
    width: 50%;
    position: relative;
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* align-items: center; */
    margin: 15% 0 0 25%;

  }
  /** icon-user-type */
  .text-icon {
    margin: 10px;
    text-align: center;
    font-family: Multicolore;
    color: $grey-color;
    font-size: 1.3em;
  }
  .text-btn-estilo{
    font-family: Multicolore;
    font-size: 0.7em;

  }
  .row{
    align-items: center;
  }
  .btn-estilo {
    background-color: $grey-color;
    font-size: 0.7em;
    height: 35px;
    padding: 10px 17px;
    margin: 3px 3px;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    &.actived-type {
      background-color: $pink-color;
    }
    &.actived-type2 {
      background-color: #1569ff;
    }
    &.actived-type3 {
      background-color: #8dff5b;
    }
    &.actived-type4 {
      background-color: #e13838;
    }
  }
  .row-estilo {
    align-self: center;
  }

  .btn-none {
    display: none;
  }
  .sliderIn {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 400ms;
    -webkit-animation-duration: 400ms;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }

  @keyframes slideUp {
    0% {
      -webkit-transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
    }
  }

  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
    }
  }


  .footer {

    &:before {
      background: transparent;
    }
    .footer-steps {
      width: 100%;
      height: 50px;
      position: relative;
      display: flex;
      flex-flow: row-reverse;
      align-items: center;

      .next-step-action {
        width: auto;
        height: 50px;
        padding: 0 20px;
        display: flex;
        position: relative;
        cursor: pointer;

        &.allowed {
          .next-step-label {
            color: $pink-color;
          }/** next-step-label */
          .nextstep-icon {
            .caret-body {
              background: $pink-color;
            }/** caret-body  */
            .caret-direction{
              border-right: 3px solid $pink-color;
              border-top: 3px solid $pink-color;
            }/** caret-direction */
          }/** nextstep-icon */
        }
        /** allowed */

        .next-step-label {
          color: $grey-color;
          font-family: Multicolore;
          font-size: 1em;
          display: flex;
          align-items: center;
          transition: 0.5s;
        }
        /** next-step-label */
        .nextstep-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 0 10px;
          .caret-body {
            width: 60px;
            height: 3px;
            background: $grey-color;
            border-radius: 3px;
            transition: 0.5s;
          }
          /** caret-body */
          .caret-direction {
            width: 15px;
            height: 15px;
            border-right: 3px solid $grey-color;
            border-top: 3px solid $grey-color;
            transform: rotate(45deg);
            margin: 0 0 0 -16px;
          }
          /** caret-direction */
        }
        /** nextstep-icon */
      }
      /** next-stap-action */

    }
    /** footer-steps */
  }

}
