<ion-grid class="header-grid">
    <ion-row class="header-grid-row">
        <ion-col col-2 >

            <div class="header-icon-action" >
                <svg class="header-ico-action">
                    <use [attr.xlink:href]="constants.src_svg + 'qrgo_square.svg#Layer_1'"></use>
                </svg> <!-- header-ico-action -->
            </div> <!-- header-icon-action -->

        </ion-col>
        <ion-col>
            <div class="header-qrgo-center" >
                <img class="logo-qrgo-center" [src]="constants.src_svg + 'qrgo-logo.svg'"/>
            </div> <!-- header-qrgo-center -->
        </ion-col>
        <ion-col col-2 class="header-last">

            <div class="header-icon-action" >
                <svg class="header-ico-action">
                    <use [attr.xlink:href]="constants.src_svg + 'chat_ballon.svg#Layer_1'"></use>
                </svg> <!-- header-ico-action -->
            </div> <!-- header-icon-action -->
            
        </ion-col><!-- header-last -->
    </ion-row><!-- header-grid-row -->
</ion-grid><!-- header-grid -->
