$feed-image-height: 65%;

page-feed {
  .feed-background{
    width: 100%;
    padding: 100% 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff619e;
    background: -moz-linear-gradient(left, #ff619e 1%, #ff7d8e 65%);
    background: -webkit-linear-gradient(left, #ff619e 1%,#ff7d8e 65%);
    background: linear-gradient(to right, #ff619e 1%,#ff7d8e 65%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff619e', endColorstr='#ff7d8e',GradientType=1 );
  }/** feed-background */

  .feed-post-something{
    width: 100%;
    padding: 3px 15px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin: 10px 0;
    color: #fff;
    position: relative;
    .grid, .row, .col{ padding: 0; }
    .post-something{
      display: flex;
      flex-grow: 1;
      align-items: center;
      cursor: pointer;
    }/** post-something */
    .feed-publication-shortcut{
      width: 35px;
      height: 35px;
      margin: 0 0 0 5px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .ico-publication-shortcut{
        width: 70%;
        height: 70%;
        fill: #fff;
      }/** ico-publication-shortcut */
    }/** feed-publication-shortcut */

  }/** feed-post-something */

  .feed-filter{
    padding: 20px 0 20px 0;
    color: #fff;
    font-family: Multicolore;
    .grid, .row, .col{ padding: 0; position: relative; }

    .filter-indicator{
      width: 100%;
      height: 2px;
      background: rgba( 255, 255, 255, 0.5);
      position: absolute;
      left: 0;
      bottom: 0;
      .filter-caret{
        width: 24%;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.5s;
      }/** filter-caret */
    }/** filter-indicator */

    .col{
      cursor: pointer;
      text-align: center;
      font-size: 0.9em;
      padding: 5px 0 12px 0;
      opacity: 0.5;
      transition: 0.5s;
      &.actived-filter{
        opacity: 1;
      }/** actived-filter */
    }/** col */
  }/** feed-filter */

  .feed-card{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    background: #fff;
    border-bottom: 1px solid #e1e6ef;
    &:nth-of-type(1){ border-radius: 10px 10px 0 0; }

    .feed-card-structure{
      width: 100%;
      display: flex;
      flex-flow: column;
      .feed-card-header{
        width: 100%;
        display: flex;
        padding: 10px;
        .grid, .row, .col{ padding: 0; }

        .feed-author-image{
          width: 80%;
          padding: 80% 0 0 0;
          background-color: $color-grey;
          border-radius: 3px;
          box-shadow: 0 0 2px #cccccc;
          position: relative;
          .feed-author-img{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }/** feed-author-img */
        }/** feed-author-image */

        .feed-author{
          display: flex;
          flex-grow: 1;
          flex-flow: column;
          .feed-autor-label{
            width: 100%;
            display: flex;
            flex-grow: 1;
            position: relative;
            .feed-author-txt{
              width: 100%;
              position: absolute;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &.title{
                text-transform: uppercase;
                color: #000;
                bottom: 0;
                font-size: 1.2em;
                font-weight: bold;
              }/** title */

              &.description{
                text-transform: uppercase;
                color: #737373;
                top: 0;
                font-size: 0.9em;
                padding: 3px 0 0 17px;
                &:before{
                  color: #737373;
                  width: 20px;
                  height: 20px;
                  font-family: "Ionicons";
                  content: "\f1e5";
                  position: absolute;
                  left: 0;
                  top: 0;
                  font-size: 1.5em;
                }/** before */
              }/** description */

            }/** feed-author-txt */
          }/** feed-autor-label */
        }/** feed-author */

        .feed-card-header-options{
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          cursor: pointer;
          .ico-card-options{
            width: 50%;
            height: 50%;
            display: table;
            fill: $color-grey;
          }/** ico-card-options */
        }/** feed-card-header-options */
      }/** feed-card-header */

      .feed-card-body{
        width: 100%;

        .card-body-image{
          width: 100%;
          display: table;
          .card-body-img{
            width: 100%;
            padding: $feed-image-height 0 0 0;

            background-color: $color-grey;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

          }/** card-body-img */
        }/** card-body-image */

        .card-body-description{
          width: 100%;
          display: flex;
          flex-flow: column;
          padding: 5px 20px;
          background: #fff;

          .card-body-description-since{
            width: 100%;
            font-size: 0.9em;
            color: #4c4c4c;
            padding: 5px 0;
            text-transform: uppercase;
          }/** card-body-description-since */
          .card-body-description-desc{
            width: 100%;
            display: table;
            padding: 5px 0;
            font-size: 1em;
            color: #767e8a;

            .product-title{
              width: 100%;
              font-size: 1.3em;
              font-weight: bold;
              color: #000000;
            }/** product-title */

            .product-prices{
              width: 100%;
              display: flex;
              .grid, .col, .row{ padding: 0; }
              .grid-prices{
                margin: 10px 0 0 0;

                .col-border{ border-right: 1px solid $color-grey; padding: 0 10px 0 0; }/** col-border */
                .col-varejo{ padding: 0 0 0 10px; }/** col-varejo */
                .col-action{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .button-action-product{
                    padding: 10px 15px;
                    border: 2px solid #9fdaa9;
                    border-radius: 5px;
                    color: #9fdaa9;
                    background: none;
                    font-size: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon-button-action-product{
                      width: 15px;
                      height: 15px;
                      margin: -3px 10px 0 0;
                      fill: #9fdaa9;
                    }/** icon-button-action-product */
                  }/** button-action-product */
                }/** col-action */
                .col-label{
                  width: 100%;
                  text-transform: uppercase;
                  color: $color-grey;
                  font-weight: bold;
                  float: left;
                }/** col-label */
                .price{
                  width: 100%;
                  float: left;
                  font-size: 1.6em;
                  font-weight: bold;
                  color: $color-pink;
                  &:before{
                    content: "R$ ";
                    font-size: 0.6em;
                  }/** before */
                }/** price */
              }/** grid-prices */
            }/** product-prices */

            .product-description{
              width: 100%;
              padding: 5px 0;
              float: left;
              font-size: 1em;

            }/** product-description */

            .hashtag-desc{
              font-weight: bold;
              color: $color-pink;
              cursor: pointer;
            }/** hashtag-desc */

          }/** card-body-description-desc */
        }/** card-body-description */

        .card-body-actions-post{
          width: 100%;
          position: relative;
          .col{
            display: flex;
            align-items: center;
            justify-content: center;

            .card-footer-action{
              width: 25%;
              min-width: 26px;
              min-height: 26px;
              padding: 25% 0 0 0;
              position: relative;
              cursor: pointer;
              .ico-footer-action{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                fill: $color-grey;
              }/** ico-footer-action */
            }/** card-footer-action */

          }/** col */
        }/** card-body-actions-post */

        .card-body-product-group{
          width: 100%;
          position: relative;

          .product-group-cover{
            width: 100%;
            padding: $feed-image-height 0 0 0;
            background-color: $color-grey + #333;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            margin: 0 0 -50px 0;
          }/** product-group-cover */
          .content-slide-group{
            width: 100%;
            position: relative;
            overflow: hidden;
            .product-group-slides{

              ul.list-group-products{
                width: 100%;
                padding: 0 0 25px 0;
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                li.item-group-product{
                  width: 25%;
                  padding: 25% 0 0 0;
                  margin: 0 2%;
                  border: 2px solid $color-grey;
                  border-radius: 5px;
                  position: relative;
                  .item-product-cover{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;

                    background-color: #fff;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                  }/** item-product-cover */
                }/** li.item-group-product */
              }/** ul.list-group-products */

            }/** product-group-slides */
            .swiper-pagination{ bottom: 0; }/** swiper-pagination */
            .swiper-pagination-bullet{
              transition: 0.3s;
              &.swiper-pagination-bullet-active{ 
                background: $color-pink;
                transform: scale(1.3); 
              }/** swiper-pagination-bullet-active */
            }/** swiper-pagination-bullet */

          }/** product-group-slides */


        }/** card-body-product-group */


      }/** feed-card-body */

      .card-body-product{
        width: 100%;
        position: relative;
        .card-body-product-img{
          width: 100%;
          position: relative;
          padding: 0 0 30px 0;
          .product-variables{

            .swiper-pagination-bullet{
              width: 15px;
              height: 15px;
              &.swiper-pagination-bullet-active{
                background: $color-pink;
              }/** swiper-pagination-bullet-active */
            }/** swiper-pagination-bullet */

            .product-variable-cover{
              width: 100%;
              padding: $feed-image-height 0 0 0;
              background-color: $color-grey;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }/** product-variable-cover */
          }/** product-variables */

          ul.variables-valiable{
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            li.variable{
              width: 20px;
              height: 20px;
              border-radius: 100%;
              transition: 0.5s;
              background: $color-grey;
              margin: 0 10px;
              cursor: pointer;
              position: relative;

              &.actived-variable{
                border-radius: 100%;
                border: 1px solid #fff;
                box-shadow: 0 0 0 2px $color-pink;
              }/** actived-variable */

            }/** variable */

          }/** variables-valiable */

        }/** card-body-product-img */

      }/** card-body-product */

    }/** feed-card-structure */

  }/** feed-card */

}/** page-feed */
