@import "../forgot-pass-theme";
page-forgot-pass-2 {

  .resend-code{
    position: relative;
    float: right;
    color: $color-grey;
    text-transform: lowercase;
    cursor: pointer;
  }/** resend-code */

}
