.header{
  background: #fff;

  .col-icon-back{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .icon-back{
      color: $color-grey;
      font-size: 1.8em;
      padding: 0 10px;
    }/** icon-back */
  }/** col-icon-back */


  &:after{
    background: none;
  }/** after */
}/** header */

.footer {

  &:before {
    background: transparent;
  }
  .footer-steps {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;

    .next-step-action {
      width: auto;
      height: 50px;
      padding: 0 20px;
      display: flex;
      position: relative;
      cursor: pointer;

      &.allowed {
        .next-step-label {
          color: $color-pink;
        }/** next-step-label */
        .nextstep-icon {
          .caret-body {
            background: $color-pink;
          }/** caret-body  */
          .caret-direction{
            border-right: 3px solid $color-pink;
            border-top: 3px solid $color-pink;
          }/** caret-direction */
        }/** nextstep-icon */
      }
      /** allowed */

      .next-step-label {
        color: $color-grey;
        font-family: Multicolore;
        font-size: 1em;
        display: flex;
        align-items: center;
        transition: 0.5s;
      }
      /** next-step-label */
      .nextstep-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 10px;
        .caret-body {
          width: 60px;
          height: 3px;
          background: $color-grey;
          border-radius: 3px;
          transition: 0.5s;
        }
        /** caret-body */
        .caret-direction {
          width: 15px;
          height: 15px;
          border-right: 3px solid $color-grey;
          border-top: 3px solid $color-grey;
          transform: rotate(45deg);
          margin: 0 0 0 -16px;
        }
        /** caret-direction */
      }
      /** nextstep-icon */
    }
    /** next-stap-action */
  }
  /** footer-steps */
}

/** footer */

.title-page{
  width: 100%;
  font-size: 1.5em;
  color: $color-grey;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}/** title-page */

.page-description{
  width: 100%;
  color: $color-grey;
  text-align: center;
}/** page-description */
.label-form{
  width: 100%;
  float: left;
  padding: 20px 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-grey;
  text-align: center;
}/** label-form */